openproject.enspyr.co {
    reverse_proxy localhost:8080
}

calendar-sync.enspyr.co {
    reverse_proxy localhost:3001
}

wiki.enspyr.co, wiki.xdeca.com {
    reverse_proxy localhost:3002
}

storage.enspyr.co {
    reverse_proxy localhost:9000
}

tasks.xdeca.com {
    reverse_proxy localhost:3003
}
