services:
  openproject:
    image: docker.io/openproject/openproject:15
    restart: always
    ports:
      - "8080:80"
    environment:
      OPENPROJECT_HOST__NAME: ${OPENPROJECT_HOSTNAME}
      OPENPROJECT_HTTPS: "true"
      OPENPROJECT_DEFAULT__LANGUAGE: en
      SECRET_KEY_BASE: ${OPENPROJECT_SECRET_KEY_BASE}
      # SMTP
      OPENPROJECT_EMAIL__DELIVERY__METHOD: smtp
      OPENPROJECT_SMTP__ADDRESS: ${OPENPROJECT_SMTP_ADDRESS}
      OPENPROJECT_SMTP__PORT: ${OPENPROJECT_SMTP_PORT}
      OPENPROJECT_SMTP__DOMAIN: ${OPENPROJECT_SMTP_DOMAIN}
      OPENPROJECT_SMTP__USER__NAME: ${OPENPROJECT_SMTP_USER}
      OPENPROJECT_SMTP__PASSWORD: ${OPENPROJECT_SMTP_PASSWORD}
      OPENPROJECT_SMTP__AUTHENTICATION: login
      OPENPROJECT_SMTP__ENABLE__STARTTLS__AUTO: "true"
      OPENPROJECT_MAIL__FROM: ${OPENPROJECT_MAIL_FROM}
    volumes:
      - pgdata:/var/openproject/pgdata
      - assets:/var/openproject/assets

volumes:
  pgdata:
  assets:
